.idea/misc.xml
.idea/workspace.xml
.idea/Buildout_Eggs.xml
*.pyc
backend/.venv
backend/var/*.db
backend/var/*.pid
backend/var/*.pid-lock
backend/var/log/*.log
backend/var/import/*
!backend/var/import/dex-data.csv
